.overlay {
  position: relative;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $bgr-color-hero;
  padding: 200px 0;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: $bgr-modal;
  opacity: 1;
  visibility: visible;
  transition: opacity $cubic,
  visibility 250ms $cubic;
  z-index: 10;
}